[2019-03-22 09:27] Harkishen-Singh opened #4 "voice support"
for text to speech -

use native golang environment with ``` github.com/hegedustibor/htgo-tts ```
the file has to be in a modular way, so that it could be easily accessed from other go files.

for speech to text -

use native browser environment with ``` web speech api W3C ```

[2019-03-22 09:55] Harkishen-Singh opened #5 "Improved chat layout"
Currently, the chat layout remains very basic, with minimum efforts to get the work running.
It would be pleasant if the UI can be made polished like in ``` web.whatsapp.com ```

This issue is multi-PR

[2019-03-22 11:30] muskankhedia commented on #4
Pls assign this issue to me. I am already working on it.

[2019-03-27 19:10] Harkishen-Singh opened #8 "Start screen for initialization of settings"
This would ask the user for all the required details for the bot to work, on the first use of the application.
Includes :
1. Welcome screen
2. Name
3. Use purpose
4. root password
5. Github/Gitlab password

any credentials left out, please mention as a comment. Discussion

[2019-03-27 19:58] Harkishen-Singh opened #9 "Output view"
This would enable the bot to send the executed data to the user in UI format, served by angular.
Hence, this involves the **designing of UI**, integration with **golang service**.

[2019-03-27 20:07] muskankhedia opened #10 "Executing the task according to the input message/command"
After the message has been sent to the server, now the software should itself detect for the specific keywords from the input message and execute different tasks based on the syntax decided for different categories of the task.

Some of the examples of the commands are:
1. **google search <text to be searched>** should perform the task of searching the particular text in google and displaying it t

[2019-03-27 20:22] Harkishen-Singh commented on #10
May be, we could make different issues for those actions which could be resolved in the front view, with angular, like **send** to send the message to the service. Let this issue contain only the service functionality.

Please make another issue for front view based commands, and transfer the ideas there, @muskankhedia

[2019-03-27 20:30] muskankhedia commented on #10
@Harkishen-Singh pls have a review on the issue

[2019-03-28 05:32] muskankhedia opened #11 "Creating a layout for the response from the server"
A layout is to be designed to be displayed to the user as a response from the server.

[2019-03-28 05:48] muskankhedia opened #12 "Executing tasks from the user voice commands"
Like on sending the message containing the **send** keyword at the end of the message will automatically be sent to the server. This could be resolved in the front view, using angular. And some other similar words can be defined to perform different tasks for the ease of the user.

The typing should be completely voice supported from the starting of the jarvis view, and would start writing on the

[2019-03-28 07:22] #4 closed

[2019-03-28 10:50] Harkishen-Singh commented on #10
Perfect!

[2019-03-28 16:25] Harkishen-Singh opened #16 "alternate CI option"
As Travis is showing irregularities for Linux instances, it would be beneficiary for the project if an alternate and more reliable CI option like CircleCI could be used.

[2019-03-28 16:28] muskankhedia commented on #16
I will be working on this issue.

[2019-03-29 08:34] Harkishen-Singh commented on #16
@muskankhedia  please look into this

[2019-03-29 08:52] Harkishen-Singh opened #18 "first letter misses when typing on message bar"
On typing in the message bar in the chat screen, the first letter of the sentence is missed.

The possible reason might be the `$scope.message` check, as on the first letter, the message area becomes blank.

[2019-03-29 08:55] Harkishen-Singh opened #19 "widening the left panel"
currently, the left panel is of **less width than required** for operations like settings, asking default inputs for pre-defined operations.  A significant increase in width is required so that the interface looks mature.

[2019-03-29 12:36] Harkishen-Singh opened #24 "wider scope for search operations"
currently, only **google** is the search engine for searching contents. We aim to provide support for **yahoo** and **bing** too.

Note: The implementation must be in the same modular way, as done with **google**, along with the subprocesses that would be created differently for **bing** and **yahoo**.

[2019-03-29 12:39] Harkishen-Singh opened #25 "improving UI for query response involving google, bing or yahoo"
currently, the UI is basic, with no polishments.
![Screenshot from 2019-03-29 18-07-21](https://user-images.githubusercontent.com/33792202/55233143-9ce93780-524d-11e9-91a0-d0beb72b5e24.png)

we would like that to be well aligned and properly mentioned, along with the **indexes of the search results** too.

[2019-03-29 12:53] Harkishen-Singh opened #26 "change of listening loader icon"
present situation

![Screenshot from 2019-03-29 18-21-18](https://user-images.githubusercontent.com/33792202/55233774-92c83880-524f-11e9-86cd-7270d0285c06.png)

the perfect situation would be the loader **aligned next to the Mic**.

[2019-03-29 13:02] Harkishen-Singh opened #27 "change of view screen to the latest message received"
Currently, when a number of messages are present in the chat screen, the view screen would be showing the top message, which should be changed, and the view should show the latest message received by the front end UI.

[2019-03-29 14:36] Subham-Mishra commented on #26
Its done in my commit

[2019-03-29 14:41] Subham-Mishra commented on #26
![Capture](https://user-images.githubusercontent.com/35756816/55240403-d7a79b80-525e-11e9-8daf-1b7aa45f8596.JPG)

[2019-03-29 15:14] #18 closed

[2019-03-29 15:24] Harkishen-Singh opened #32 "proper linking of "listening loader""
the **listening loader** linking is buggy. It does not show often when the web API is listening. This needs to be fixed.

[2019-03-29 21:24] Harkishen-Singh opened #34 "support for git operations"
complete support for git operations

[2019-03-30 18:00] whitesource-bolt-for-github[bot] opened #37 "CVE-2018-18074 High Severity Vulnerability detected by WhiteSource"
## CVE-2018-18074 - High Severity Vulnerability
<details><summary><img src='https://www.whitesourcesoftware.com/wp-content/uploads/2018/10/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>requests-2.19.1-py2.py3-none-any.whl</b></p></summary>

<p>Python HTTP for Humans.</p>
<p>path: /Jarvis-personal-assistant/service/subprocesses/requirements.txt</p>
<p>

<p>Library home page

[2019-03-30 18:07] Harkishen-Singh commented on #37
this vulnerability has been resolved!

[2019-03-30 18:07] #37 closed

[2019-03-30 18:09] Harkishen-Singh opened #38 "weather support"
make jarvis give weather updates to the user.

[2019-03-30 18:57] Harkishen-Singh opened #41 "updating UI for BOT replies"
The current UI of the **Jarvis-bot** is simply not acceptable, and needs some serious upgradation to match with the whole environment.

[2019-03-30 19:51] Harkishen-Singh commented on #38
done!

[2019-03-30 19:51] #38 closed

[2019-03-31 10:34] #19 closed

[2019-03-31 10:35] #9 closed

[2019-03-31 10:39] Harkishen-Singh opened #56 "general conversation with jarvis"
making a scope for a daily conversation like in the case of humans. This could be done with a JSON file, which would contain the possible response for a type of string.

[2019-04-02 10:18] #24 closed

[2019-04-02 18:27] Jayashree-panda opened #62 "Making search requests more user friendly"
Presently google, yahoo, bing, youtube and weather are designed so as to respond only when the query starts with the corresponding names. We can now add features so that the user can receive responses for various kinds of search requests.
For example,
"google search for ....."
"watch video youtube....." etc.

[2019-04-02 21:19] muskankhedia opened #64 "Improving the response layout of the images search"
The response layout of the images search is very basic now. It would be better improved more for a better and friendly view of the user.
Some suggestions: It can be improved in a better way using carousel or flex.

[2019-04-03 10:05] Harkishen-Singh opened #65 "use of Dice's coefficient to measure the nearest possible string comparison condition"
it is almost impossible to write the conditional string checks, so **Dice's coefficient** can help find the most matching condition, from a given set of conditions. The design of the algorithm should be clean and tidy so that it could satisfy most conditions.

[2019-04-04 15:21] C-Anirudh opened #67 "Empty messages prevention"
The current implementation of sending messages allows us to send empty messages as shown below:
![emptymsg](https://user-images.githubusercontent.com/40494926/55567310-028c6680-571b-11e9-8f6b-fec141cb41b0.png)
Ideally, empty messages shouldn't be allowed and `Type a message ...` should be a label, instead of text in the input field.

[2019-04-04 15:21] C-Anirudh commented on #67
@Harkishen-Singh Can I work on this?

[2019-04-04 16:05] Harkishen-Singh commented on #67
@C-Anirudh  thanks for showing your interest! please go ahead.

[2019-04-04 16:45] muskankhedia commented on #65
Yaa understood I will try my best to write a clean code satisfying most of the condition.
Thanks for assigning the issue.

[2019-04-04 19:38] C-Anirudh opened #70 "Displaying error message for searches when there is no Internet Connectivity"
Currently, when we attempt searches without Internet Connectivity, an empty output is shown.
![netError(1)](https://user-images.githubusercontent.com/40494926/55583285-2497e000-573f-11e9-9498-525e939c4be4.png)
Ideally, a proper error message stating that there is no Internet Connnectivity should be displayed.

[2019-04-04 19:38] C-Anirudh commented on #70
@Harkishen-Singh Can I work on this?

[2019-04-04 19:40] Harkishen-Singh commented on #70
sure!

[2019-04-05 07:23] #67 closed

[2019-04-05 10:22] Harkishen-Singh opened #72 "updating README.md"
The README.md looks outdated and needs to be maintained with the current features. At the same time, the view should be attractive and appealing.

We have almost 17 unique visitors and 54 unique clones and would like to keep up the popularity of the project by increasing the interactiveness of the first screen of the repository.

Sample readme outlook [sample readme for jarvis](https://github.com/

[2019-04-05 11:07] #26 closed

[2019-04-05 11:31] C-Anirudh opened #74 "Prevent empty queries"
In the chat interface, when we type google, yahoo, bing, etc without a query following it, an empty message is displayed.
![queryErr(1)](https://user-images.githubusercontent.com/40494926/55624680-5010de00-57c4-11e9-8c35-61e0fbcbddf5.png)

Ideally, empty queries should be dealt with properly and empty messages should be prevented

[2019-04-05 11:32] C-Anirudh commented on #74
@Harkishen-Singh May I work on this?

[2019-04-05 11:49] Harkishen-Singh commented on #74
Sure!

[2019-04-05 13:16] #70 closed

[2019-04-05 14:49] Harkishen-Singh commented on #65
Always welcome

[2019-04-05 18:24] #74 closed

[2019-04-05 18:26] whitesource-bolt-for-github[bot] opened #76 "WS-2019-0047 Medium Severity Vulnerability detected by WhiteSource"
## WS-2019-0047 - Medium Severity Vulnerability
<details><summary><img src='https://www.whitesourcesoftware.com/wp-content/uploads/2018/10/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>tar-2.2.1.tgz</b>, <b>tar-4.0.2.tgz</b></p></summary>
<p>

<details><summary><b>tar-2.2.1.tgz</b></p></summary>

<p>tar for node</p>
<p>path: /tmp/WhiteSource-ArchiveExtractor_814e216c-2fa

[2019-04-05 18:31] C-Anirudh commented on #27
@Harkishen-Singh Please close this issue.

[2019-04-05 18:37] #27 closed

[2019-04-05 18:44] C-Anirudh commented on #5
@muskankhedia Please close this issue.

[2019-04-06 05:34] C-Anirudh opened #78 "Reducing code redundancy in 'main.html'"
Currently, everytime we add a new message/conversation , we have to manually add the front-end for displaying it. This is not suited as the application grows bigger. The code should follow DRY principle.
`We must have a general template to display all messages`

[2019-04-06 05:37] C-Anirudh commented on #78
@Harkishen-Singh I would like to try my hand in making this better

[2019-04-06 06:20] Harkishen-Singh commented on #78
Yeah. A generalised condition bsed on type of message and components should help

[2019-04-06 07:11] C-Anirudh commented on #34
@Harkishen-Singh Can you describe this issue? What exactly does this issue want to achieve?

[2019-04-06 09:18] #78 closed

[2019-04-06 10:38] Harkishen-Singh opened #80 "support for health related help"
This includes :

1. giving the detail information about a medicine
2. symptoms and other relevant details about a disease

[2019-04-06 10:50] #12 closed

[2019-04-06 10:51] #5 closed

[2019-04-06 10:51] #25 closed

[2019-04-06 10:52] #10 closed

[2019-04-06 11:00] Harkishen-Singh opened #81 "support time based operations"
This includes :

- [ ] Reminder for a task
- [ ] Task list [Note making]

[2019-04-06 11:06] #32 closed

[2019-04-06 11:06] #11 closed

[2019-04-06 11:55] Harkishen-Singh opened #82 "TIMELINE for Initial Build"
These features need to be implemented by **10th of April**, following which the presentation would be prepared.

## Feature Table

*feature list along with the implementing contributors*

|Feature|Status|Relevant Information| Contributors|
|-------:|:-----:|:------------:|:---|
|google search| done | None| Harkishen Singh|
|basic initial UI| done | None|Subham Mishra|
|yahoo search| done | None| M

[2019-04-06 12:17] Harkishen-Singh commented on #41
Done!

[2019-04-06 12:17] #41 closed

[2019-04-06 14:16] Harkishen-Singh commented on #34
@C-Anirudh  this feature is specific for developers to simplify the process of using git. One gets tired repeated writings of ```git add .``` , ```git commit -m <message>```, and similar operations!
Hence, this task would be made completely automated by the bot. The user just has to specify the path to the project, and the rest operation would be handled by the bot, by voice commands!

[2019-04-06 20:25] #65 closed

[2019-04-07 15:19] muskankhedia opened #85 "Adding a help button at the bottom of the left panel"
There are many predefined commands for different kinds of the task and it will be increasing every day with the increase of features in the project. In order to provide a complete syntax data, a help button could be added at the bottom of the left panel, on clicking on it a modal will be displayed with all the syntax written on it.

[2019-04-07 15:27] C-Anirudh commented on #85
I think it would be nice, if we could make it like Gitter's markdown help.

[2019-04-07 15:48] muskankhedia commented on #85
Yaa.. nice idea.

[2019-04-07 19:11] Harkishen-Singh opened #86 "[Discussion] Support for Mobile integration"
Integrating a personal assistant with mobile has been a challenge, for Microsoft and Apple, though Apple came up with universal Siri.
We could try to sync mobile activities with Jarvis on a LAN network as a start, and could later transferred to a remote control.

Using the extensive **libraries of react native**, we could perform this feature. This would make the entire project a lot productive an

[2019-04-08 07:41] #76 closed

[2019-04-09 10:15] #62 closed

[2019-04-10 19:25] #80 closed

[2019-04-11 13:19] C-Anirudh opened #92 "Improve health support view and functionality"
Currently when the `medicine <med-name>` command is typed, the result is displayed in a single paragraph which is difficult to read. The output should be pretty printed to make it easier on the users.

Further, the present implementation requires users to enter the medicine name with the first character capitalised. This should be dealt with as the user cannot be expected to enter the first charac

[2019-04-11 13:56] Harkishen-Singh opened #94 "Support for running/testing Jarvis via docker containers"
The developers currently need to install quite a number of libraries just to make the software run. With this feature, the entire code can be made to run in a specified format, by installing only docker. This would greatly simplify the execution process, as there have also been complains regarding ill execution of the assistant on various platforms

[2019-04-11 17:07] #92 closed

[2019-04-11 17:30] Harkishen-Singh opened #95 "Release beta - 2"
Second beta release of the project, do that the users could directly download and run the code, without bothering about the dependencies are deployment.

Further, a number of critical and necessary features have been added since last release, hence making the project useful for the users.

[2019-04-12 14:51] Harkishen-Singh commented on #95
@muskankhedia  please have a look!

[2019-04-12 14:55] muskankhedia commented on #95
Yaa... I will do it today.

[2019-04-12 17:53] muskankhedia opened #98 "support for automated mailing"
This includes,
-[ ] Sending emails from the user account to the specified email address with proper body and subject as filled in the form
-[ ] Sending automated emails at the specified time.

[2019-04-13 15:36] #85 closed

[2019-04-13 15:40] muskankhedia commented on #95
I have released the beta-2 version of Jarvis-Personal-Assistant. @Harkishen-Singh please have a look.

[2019-04-14 14:51] C-Anirudh opened #107 "display notifs for reminders in the user set time"
Currently, the reminders entered by the user are only stored to the database. There is no mechanism to display notifications, to remind the user at the time he/she sets. This is a vital part of the `reminder` feature and would improve the interactiveness with the user.

[2019-04-14 17:06] #107 closed

[2019-04-23 18:47] #95 closed

[2019-04-29 16:04] muskankhedia opened #119 "Scrapping the google and bing responses directly using golang"
Now, most of the scrapping is done using selenium browser and it is a more time taking process, so in order to reduce the processing time, it might be better to scrap directly using golang scrapping techniques.

[2019-12-06 17:01] rakaar commented on #119
Hey @muskankhedia
I would like to work on this issue.
Can you please give more instructions, which parts should be converted to GoLang?
In the `subprocess` folder, I saw a few JS files for fetching data.
Should I start from there?

[2019-12-07 04:40] muskankhedia commented on #119
@rakaar In this project, in order to show the results of different queries, we scrap the data from various sites. For scrapping the results, initially the body of the HTML code of the URL is achieved using selenium and its a lot of time taking process. We want to integrate any of the packages provided by Golang to implement the entire scrapping.

The `subprocess`  folder contains all the microserv

[2020-01-23 04:21] Karthick-Balaji commented on #98
I wish to contribute to this. Please tell me where should I start.

[2020-01-25 17:00] muskankhedia commented on #98
@Karthick-Balaji Thanks for your interest in the project. To start working on the project, you can first build it in your local system and learn about the different functionalities and working of the code accordingly. Feel free to ask any doubts in the chatroom or the issue.

[2020-02-22 17:54] muskankhedia opened #137 "Fixing the yahoo search"
Presently, the yahoo search was done using the selenium browser, but presently it's failing due to the error of unable to open the virtual browser. The bug needs to be fixed to enable the yahoo search feature in the project.

[2020-02-22 18:05] muskankhedia opened #138 "Scrapping for the yahoo requests using golang"
The scrapping of the yahoo requests to be updated and implemented using the golang scrapping packages. One of them package implemented presently for the google and bing scrapping is [goquery](github.com/PuerkitoBio/goquery). Other recommendations of golang packages are most welcome.

[2020-02-24 16:15] irshadjsr21 opened #139 "Minor typo in INSTALL.md file"
Under the installation section (point 5) the python packages installation has a typo: `requirements/txt`

[2020-02-24 16:19] irshadjsr21 opened #140 "Wrong path for background image in views/index.html"
The body background image currently is `./view/assest/Background/MainBG.png` which does not render on the page.

[2020-02-27 10:57] prajwal714 commented on #140
Solved the issue.

[2020-02-27 13:37] prajwal714 commented on #140
I'll Work on this.

[2020-02-27 13:38] prajwal714 commented on #139
I'll Work on this.

[2020-02-27 13:44] muskankhedia commented on #140
Sorry, this issue has already been claimed by @irshadjsr21. We will be opening more issues in 2-3 days, till then you can work on other opened issues.

[2020-02-27 13:44] muskankhedia commented on #139
Same here.

[2020-02-27 13:44] #137 closed

[2020-02-29 05:49] Shubham-1105 commented on #138
I am interested to work on this issue

[2020-02-29 06:20] muskankhedia commented on #138
Sure. Go ahead.

[2020-02-29 17:02] irshadjsr21 opened #143 "Handling errors in frontend"
**Describe the bug**
When the API results in an error, the frontend continues to display the loading icon.
We should stop the loading icon and display an error icon along with an error notification (maybe a retry button as well).

**To Reproduce**
Steps to reproduce the behavior:
1. Start the frontend server
2. Stop the backend server (if it is running)
3. Type any query on the message box

[2020-02-29 19:00] prajwal714 commented on #143
I'll be working on this issue for GSSOC' 20

[2020-03-01 05:57] muskankhedia commented on #143
@prajwal714 Thanks for your interest but according to the gssoc rules, the one who has created the issue gets assigned at the same time. You can please for some other issues or create any and work on it.

[2020-03-01 06:13] muskankhedia opened #148 "Create a Makefile for the project"
A makefile is to be created with the set of tasks that needs to be executed, to ease the running and testing of the application.

[2020-03-01 08:12] muskankhedia opened #149 "Update the readme with the postman documentation link"
This is the link to the postman documentation for Jarvis: [Postman link](https://documenter.getpostman.com/view/6521254/SzKZrvTu?version=latest).

Add the link to the readme.md with some explanation.

[2020-03-01 08:36] muskankhedia opened #150 "Scrapping for the google images requests using golang"
**Is your feature request related to a problem? Please describe.**
Presently the scrapping for the google images is done using the selenium browser,  now we are revamping the application and level up all the scrapping to be done using golang. As using various different dependency for different features is making the work difficult and also increases the size of the application.

**Describe the sol

[2020-03-01 11:30] #140 closed

[2020-03-01 13:44] Harkishen-Singh opened #151 "Scrapping for Medicine and symptoms information using golang"
The current implementation is done in nodejs. We want to unify this experience and hence want them in golang. This was earlier done by selenium in node but selenium being difficult and unethical, cannot be used for works involving stability of the app.

Hence, convert the existing method into golang and scrape them rather than using selenium.

[2020-03-01 13:47] Harkishen-Singh opened #152 "Weather scrapping using golang"
The current weather details are being scrapped using python. This can be converted into golang easily and the process is fairly straight forward.

[2020-03-01 13:49] Harkishen-Singh opened #153 "Meaning scrapping using golang"
Meanings are being scrapped using python. This can be easily converted into golang as well. Replace the current implementation with golang.

[2020-03-01 13:51] Harkishen-Singh opened #154 "Refractor all existing strings to proper config.json"
We have many configurations like priority string [link](https://github.com/Harkishen-Singh/Jarvis-personal-assistant/blob/a72b0db735fc928de3402752dd4761e370c6863b/service/controllers/messages.go#L98), etc., can be added to a config.json file and then it can be loaded into the system during start.

[2020-03-01 14:36] irshadjsr21 commented on #149
I'm up for it.

[2020-03-01 16:05] VibavariG commented on #149
Please assign me this issue

[2020-03-01 17:21] muskankhedia commented on #149
@irshadjsr21 we can only assign one issue to a participant at a time as it will create flexibility for everyone to work. Please solve the assigned issues then it will be possible to assign you for other issues.
So, assigning this issue to @Vibavari for the timing.

[2020-03-02 05:38] Aju100 commented on #148
can u assigned me this

[2020-03-02 05:52] lalitmee opened #155 "Search for results as the user is done speaking."
**Is your feature request related to a problem? Please describe.**
Currently, we need to press the **Send** button after speaking my query for getting the results. Its not a good User Experience in perspective to the user.

**Describe the solution you'd like**
It would be better if the user doesn't have to press any button and the results appear directly on the screen.

**Describe alternatives you

[2020-03-02 14:48] #139 closed

[2020-03-02 14:51] irshadjsr21 commented on #154
I'm up for it.

[2020-03-02 15:02] muskankhedia commented on #154
Sure. Go ahead.

[2020-03-02 16:27] irshadjsr21 commented on #154
@Harkishen-Singh @muskankhedia Should I include all the search variants in the file `service/controllers/searchVariants.go` into the `config.json`?

**Currently added**
- User Agents from file `service/controllers/common.go`
- Keywords Priority from file `service/controllers/messages.go`

Let me know if something else also has to be added there.

[2020-03-02 17:06] muskankhedia commented on #154
@irshadjsr21 for the timing don't add the search variants in the file `service/controllers/searchVariants.go`. I think there isn't anything more to be added.

[2020-03-03 06:25] Harkishen-Singh opened #159 "Saving logs in secondary storage."
Logs are necessary to debug. They would be intensively used in further updates. Hence, these logs should be stored.

[2020-03-03 06:27] Harkishen-Singh opened #160 "Extensive testing in golang"
We have several modules that need an extensive unit-testing. This is crucial for the project.

[2020-03-03 09:28] gunjanmimo commented on #8
Sir, can I solve this issue with HTML CSS js?

[2020-03-03 09:29] gunjanmimo commented on #150
@muskankhedia can I take this issue?

[2020-03-03 09:35] lalitmee opened #161 "Jarvis Home Page UI Change"
**Home Page**
![Selection_005](https://user-images.githubusercontent.com/10762218/75755936-a7f9f100-5d55-11ea-9683-a212f8b04625.png)

We need to come up with some **mockups** for the same and then we will select the mockup which will be good for the **User Experience** and will implement that.

**Two things to keep in mind**:
- We would prefer it if you can use [Figma](https://www.figma.com/) for

[2020-03-03 09:35] lalitmee opened #162 "Jarvis Get Help UI Change"
**Get Help** Section
![Selection_007](https://user-images.githubusercontent.com/10762218/75756000-cd86fa80-5d55-11ea-9774-3ab009d73239.png)

We need to come up with some **mockups** for the same and then we will select the mockup which will be good for the **User Experience** and will implement that.

**Two things to keep in mind**:
- We would prefer it if you can use [Figma](https://www.figma.com

[2020-03-03 09:35] lalitmee opened #163 "Jarvis Queries and Results UI Change"
**Queries and Results** Section
![Selection_006](https://user-images.githubusercontent.com/10762218/75755986-c52ebf80-5d55-11ea-9cd2-80d6e5cdf21d.png)

We need to come up with some **mockups** for the same and then we will select the mockup which will be good for the **User Experience** and will implement that.

[2020-03-03 11:59] muskankhedia commented on #150
Sure. Go ahead.

[2020-03-03 12:22] muskankhedia commented on #8
Yes, you can, it will also require to AngularJs in some part to store the data. Till then you can go for UI designing.

[2020-03-03 16:34] muskankhedia opened #164 "Add Go fmt for formatting go files"
Add a condition in Travis CI to check the formatting in go files.

[2020-03-03 16:36] #143 closed

[2020-03-05 06:55] irshadjsr21 commented on #153
I'll try to implement this.

[2020-03-05 06:58] muskankhedia commented on #153
Sure. Go ahead.

[2020-03-05 07:08] #154 closed

[2020-03-05 10:37] SubCoder1 commented on #161
I am interested to take up this issue @lalitmee

I would like to see my mockup using HTML, CSS and Bootstrap instead of Figma since I have not used the later tool.

[2020-03-05 10:46] lalitmee commented on #161
@SubCoder1 , still you will be having some design in your mind that you wanna do this.
Actually why we are asking for mockup is because if we will directly implement it then it will be a lot of effort. That's why I think we should try some mockups first then we will go ahead and select one.

You can use whatever you want for the mockup. :+1:

[2020-03-05 11:23] algokun commented on #161
I would like to contribute to this one. can anyone assign this issue to me??

[2020-03-05 11:34] SubCoder1 commented on #161
@lalitmee ok I can create and show you the mockup in CodePen or JSfiddle.

[2020-03-05 11:46] muskankhedia commented on #161
@subcoder1 you can go ahead with the work, after the design is ready you can share the link in the form of pull request. You can create a file with the name 'ui-design-<section-name>-<github-username>' and add the link on it, in the folder ui-designs.

[2020-03-05 11:49] muskankhedia commented on #161
@algokun, as per rules, as @subcoder1 has commented first to the issue, the issue gets assigned to him. There are many other UI designing issues in the project, you can work on them. Please make a comment before working so I can assign it to you.

[2020-03-05 18:43] muskankhedia opened #166 "[improve]Adding Voice Support for the Jarvis-Desktop"
**Is your feature request related to a problem? Please describe.**
Adding voice support for the Jarvis-Desktop app as it is in the Jarvis Web Application.

**Describe the solution you'd like**
There are some available libraries for text to speech in electron, any of them can be used.

**Describe alternatives you've considered**
Any of these or any package better than this can be used to implement

[2020-03-05 18:53] muskankhedia opened #167 "[improve] wider testing cases using Spectron"
**Is your feature request related to a problem? Please describe.**

Current, the Travis checks the commits against the ***eslint, building*** of the application. However, key components like working of in-browser features like input fields, transition or angular are not being tested.

**Describe the solution you'd like**
Spectron based testing facility using a web driver.
[Reference](https://elect

[2020-03-06 07:23] algokun commented on #163
@muskankhedia could you please assign this issue to me. I would like to work with this one. Also brief the ui details like what are the things you guys are expecting.

[2020-03-06 08:29] muskankhedia commented on #163
Sure. Go ahead.

[2020-03-07 08:07] Diu2912 commented on #161
I want to contribute this one ...Can you assign to me ?

[2020-03-07 08:11] muskankhedia commented on #161
@Diu2192 Welcome to the project. This issue has already been assigned to @subCoder1, you can look for other issues and comment on it, you are interested to work on.

[2020-03-07 09:49] robot-with-feelings commented on #162
@lalitmee i'd like to work on this, i have knowledge of figma

[2020-03-07 09:52] muskankhedia commented on #162
@robot-with-feelings Sure. Go ahead.

[2020-03-07 09:55] muskankhedia commented on #138
@Shubham-1105 How is the implementation going?

[2020-03-07 10:00] muskankhedia opened #168 "Update Readme.md with the organizations the project has been selected"
The project **_Jarvis Personal Assistant_** has been selected many times in various coding programmes like starting from, KWoC-2019, JMoC-2019 and now GSSoC-2020. All these needs to be updated in the Readme, under a new section _**Achievements(other suggestions are most welcome)**_ with the proper logos.

[2020-03-07 10:03] Shubham-1105 commented on #138
I had previosly done scrapping using beautifulSoup in python but i am not
familiar with golang.So i am learning golang now then will go through
scrapping.

On Sat, 7 Mar 2020, 15:25 Muskan Khedia, <notifications@github.com> wrote:

[2020-03-07 10:53] CSElonewolf commented on #168
hello @muskankhedia mam,I am very much interested working on this issue.Kindly assign me this issue.I have already collected the logo links and am ready to update the README section and push it by today itself.Thank You

[2020-03-07 10:58] muskankhedia commented on #168
@CSElonewolf Sure.

[2020-03-07 11:02] CSElonewolf commented on #168
Suggestion:-

1.Will add a logo all the competitions and write a little description of them..

[2020-03-07 11:04] muskankhedia commented on #168
Yaa sure. Good to go.

[2020-03-07 11:27] CSElonewolf commented on #168
Mam @muskankhedia please review the PR and let me know if any change is to be made.

[2020-03-07 12:16] muskankhedia commented on #168
@CSElonewolf I have reviewed the PR and made the comment. Please make the necessary changes.

[2020-03-07 13:26] irshadjsr21 commented on #152
I'm up for it

[2020-03-07 13:27] Harkishen-Singh commented on #152
sure. please go ahead with the fix.

[2020-03-07 13:32] #153 closed

[2020-03-07 21:15] irshadjsr21 commented on #150
I'd like to take this up if it's not assigned yet.

[2020-03-08 04:41] #168 closed

[2020-03-08 04:42] muskankhedia commented on #150
@irshadjsr21 This issue has been presently assigned to @gunjanmimo. Please take up any other issue for now.

@gunjanmimo How is the implementation going?

[2020-03-08 04:49] muskankhedia commented on #161
@SubCoder1 How is the implementation going?

[2020-03-08 04:50] muskankhedia commented on #149
@VibavariG How is the implementation going? I don't think this issue would take more than 10 mins to solve.

[2020-03-08 08:47] irshadjsr21 commented on #151
I'm up for it.

[2020-03-08 08:49] muskankhedia commented on #151
Sure. Go ahead.

[2020-03-08 08:55] #152 closed

[2020-03-08 08:56] #119 closed

[2020-03-08 10:25] SubCoder1 commented on #161
@muskankhedia it's almost done! I'll send a PR today at night as I'm out right now :)

[2020-03-08 10:37] muskankhedia commented on #161
Cool

[2020-03-08 12:51] muskankhedia commented on #72
Done.

[2020-03-08 12:51] #72 closed

[2020-03-08 12:56] muskankhedia commented on #163
@algokun How is the implementation going?

[2020-03-08 16:49] Diu2912 commented on #151
Can I do this one?

[2020-03-08 16:51] Diu2912 commented on #64
Can I you assign me this issue?

[2020-03-08 16:52] muskankhedia commented on #151
This issue has already been assigned to @irshadjsr21

[2020-03-08 16:57] Diu2912 commented on #151
Okay Mam

On Sun, Mar 8, 2020 at 10:22 PM Muskan Khedia <notifications@github.com>
wrote:

[2020-03-08 17:08] muskankhedia commented on #64
Sure. Go ahead.

[2020-03-08 17:40] Diu2912 opened #175 "Change UI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-08 17:53] SubCoder1 commented on #161
@muskankhedia I've shared two Figma links in my PR, two has different prototypes for the UI. Kindly review and suggest any changes I need to make :sweat_smile:

[2020-03-08 17:57] Diu2912 commented on #161
okay i will review it .. Can you please tell me how to work on github means
how i can score in that

On Sun, Mar 8, 2020 at 11:23 PM Souma Kanti Ghosh <notifications@github.com>
wrote:

[2020-03-08 18:01] SubCoder1 commented on #161
@Diu2912 participants can't review PRs, only mentors can.

[2020-03-08 18:03] Diu2912 commented on #161
Okay Sir !!!

On Sun, Mar 8, 2020 at 11:31 PM Souma Kanti Ghosh <notifications@github.com>
wrote:

[2020-03-08 18:06] muskankhedia commented on #161
@Diu2912 The PR reviews are meant for mentors. And if you are new to Github and some help you can message in the #slackhelp channel or direct message any mentor. Please don't spam the issues or PRs by making such unnecessary comments. Please delete all your messages from different issues and PRs.

[2020-03-08 18:07] muskankhedia commented on #175
@Diu2912 This is not a testing repo. Closing this issue and stop spamming in the repository.

[2020-03-08 18:07] #175 closed

[2020-03-08 18:11] Diu2912 commented on #175
Yes Mam!! Sorry i don't know how to work with github ..I will not do again

On Sun, Mar 8, 2020 at 11:37 PM Muskan Khedia <notifications@github.com>
wrote:

[2020-03-08 18:25] muskankhedia commented on #175
It's fine. And please don't call me ma'am, I am also a student. The GSSoC programme is not a competition, its for learning and specifically for newcomers. Make some of your own repos, work on it, learn how to use GitHub. Then start contributing to any project.

[2020-03-08 18:35] Diu2912 commented on #175
Yeah Sure !! I will learn first then come back in contributing again ..

On Sun, Mar 8, 2020 at 11:55 PM Muskan Khedia <notifications@github.com>
wrote:

[2020-03-08 20:01] Mansi145 commented on #149
Hey @muskankhedia. Is this issue still up for a grab? I'd like to work on this.

[2020-03-09 06:36] muskankhedia commented on #149
@Mansi145 Yaa sure. You can take it.

[2020-03-09 07:07] muskankhedia opened #178 "Display Error Message on wrong query search"
**Is your feature request related to a problem? Please describe.**
Display a proper error message for wrong spelling or unavailable word in medicine and meaning search.

**Describe the solution you'd like**
For a wrong search, that is for which result is not available in medicines or meaning search. Now there is no response from the app and retry button is displayed instead, a proper error message

[2020-03-09 10:42] gunjanmimo commented on #150
Mam, I was unable to work for my exam, now I am working on this issue. I think I will complete today

[2020-03-09 12:02] CSElonewolf commented on #149
Hello @muskankhedia good to see a new work on README.md I am up for it will update it within 1 hour.Please asssign this to me :)

[2020-03-09 12:38] CSElonewolf commented on #149
@muskankhedia assign this to me..

[2020-03-09 13:33] #162 closed

[2020-03-09 13:35] #161 closed

[2020-03-09 14:10] ananyaarun commented on #149
Hey @CSElonewolf , This issue was assigned to @Mansi145 .
Next time ensure you get an issue assigned to yourself before opening a PR for it.
Thanks !

[2020-03-09 14:28] ananyaarun commented on #64
Sure @Diu2912 ! You can start working on it .
@muskankhedia kindly assign @Diu2912

[2020-03-09 14:30] ananyaarun commented on #138
Hey @Shubham-1105 check this out - https://github.com/golang/go/wiki/LearnServerProgramming
This has a lot of links that might help you !

[2020-03-09 14:31] ananyaarun commented on #151
Hey @muskankhedia , Can we close this issue ? looks like there is a merged PR

[2020-03-09 14:44] muskankhedia commented on #151
@ananyaarun Thanks for looking at it. But the PR has only solved the scrapping part for the medicine search, the symptoms scrapping has to be yet implemented.

[2020-03-09 14:49] muskankhedia commented on #64
@ananyaarun I have already discussed @Diu2912 in this matter. She is new to coding and Github. So now she will be focusing more on improving the coding skills and get a hands-on Github, later to that she will start contributing.

[2020-03-09 21:16] Mansi145 opened #182 "Remove the duplicate link to the Postman documentation"
There are two instances of linking the Postman documentation in the README.md. Edit out any one of them to remove redundancy.

[2020-03-10 05:33] Harkishen-Singh commented on #151
@irshadjsr21 are you still working on symptoms scrapping?

[2020-03-10 05:34] Harkishen-Singh commented on #150
@gunjanmimo any updates on this would be most helpful.

[2020-03-10 05:35] Harkishen-Singh commented on #138
@Shubham-1105 any updates on this?

[2020-03-10 05:37] Harkishen-Singh commented on #149
should we close this?

[2020-03-10 05:41] CSElonewolf commented on #149
Mam actually I didn't see anyone assigned under the assignee when I commented.Therefore I felt that it is still open.

[2020-03-10 06:14] muskankhedia commented on #149
@CSElonewolf It's not necessary for there to be assignee, please go through the commits in the issue and the date and time this has been taken and assigned to someone. As if some issues had been mentioned much longer can be taken by other participant.

[2020-03-10 06:14] #149 closed

[2020-03-10 06:14] #182 closed

[2020-03-10 06:26] muskankhedia opened #183 "Implementing the Get Help UI"
Implementing the 5th design of _**Get Help UI**_ from the figma workspace.

[2020-03-10 06:27] muskankhedia opened #184 "Implementing the Home Page UI"
Implementing the **_Home Page UI_** from the Figma Workspace.

[2020-03-10 06:58] muskankhedia opened #185 "Enabling the option for dark mode and light mode"
**Is your feature request related to a problem? Please describe.**
Presently the web app supports only the light mode. Now the dark mode is to be implemented for the user and a switch option for the user to choose the light or dark mode as per his/her wish.

**Describe the solution you'd like**
A switch option or a drop-down in the Get Help Section to be implemented for the user to switch between

[2020-03-10 07:01] muskankhedia opened #186 "Enhancing the recent queries heading in the desktop app"
The recent queries heading in the desktop app is quite unclear as of now and maybe confused with a button.

[2020-03-10 09:30] #82 closed

[2020-03-10 09:32] Harkishen-Singh commented on #56
This is still open and a lot of enhancements and additions can be made in this.

[2020-03-10 09:32] #16 closed

[2020-03-10 09:59] Harkishen-Singh opened #187 "Feature table for alpha-release-0.2"
Expected release date: **6th of April, 2020**

Following are the features that are required to be implemented in the project at the earliest:

|Feature|Tag|Contributor|Status|is-Desktop-UI
|---|---|---|---|---|
|Google search|important|@irshadjsr21|complete|false|

[2020-03-10 10:00] Harkishen-Singh commented on #187
Mentors are requested to update the feature table with the PRs merged till now. Participants are most welcome for suggestions if something is missing.

[2020-03-10 10:31] Harkishen-Singh commented on #187
@muskankhedia is reminded support provided in the desktop app itself? It should be independent from the service.

[2020-03-10 10:56] irshadjsr21 commented on #151
Yeah, working on it.

[2020-03-10 11:44] irshadjsr21 opened #189 "Adding webpack and babel on website"
**Is your feature request related to a problem? Please describe.**
The client-side JS (web) uses ES6 syntax which is not supported in all browsers.

**Describe the solution you'd like**
A bundler and parser, preferably webpack with babel are to be implemented to improve the browser support.

[2020-03-10 12:14] algokun commented on #163
Yeah. It's going well. I'm redesigning the whole ui. I'll try to submit the ui by today

[2020-03-10 16:10] robot-with-feelings commented on #186
can i work on this, using Figma?

[2020-03-10 16:24] muskankhedia commented on #186
Sure.

[2020-03-10 16:27] muskankhedia commented on #183
@robot-with-feelings Will you like to implement the design made by you?

[2020-03-10 16:27] muskankhedia commented on #184
@SubCoder1 Will you like to implement the design made by you?

[2020-03-10 16:32] robot-with-feelings commented on #183
sure!

[2020-03-10 17:54] Harkishen-Singh commented on #189
This can be added as a runner during the build. The best way for this would be a `.sh` file since we have angularJS for simplicity, hence package.json is meaningless for us.

[2020-03-10 17:57] Harkishen-Singh commented on #189
Before moving to other issues, we should focus on what's on priority for the release. We wanna release even sooner, somewhere in March if possible. So right now, the main priority for us would be **converting everything into golang**, so that continuous deployment could be set up, which would favour advanced development.

However, this doesn't seem to take a lot of time. You can do this in the pro

[2020-03-10 18:04] Harkishen-Singh commented on #148
@Aju100 any updates? this should not take long.

[2020-03-10 18:52] irshadjsr21 commented on #189
@Harkishen-Singh Can you expand on how we can achieve this through a `.sh` file?

I think we'll need both the development and production build so integrating `webpack` into  `package.json` will improve the workflow.

[2020-03-10 19:44] algokun commented on #163
Here's my the mockup:
https://www.figma.com/file/f7EQz5c7NIDcrPjokapkx3/JarvisAssistant?node-id=0%3A1

Here's the live preview:
https://www.figma.com/proto/f7EQz5c7NIDcrPjokapkx3/JarvisAssistant?node-id=2%3A2&scaling=min-zoom

Can you please tell me what to do next and what to include in PR, the screenshots or actual mockup file?

[2020-03-10 20:06] SubCoder1 commented on #184
@muskankhedia Absolutely! you can assign this task to me.

[2020-03-10 20:09] maheshschand commented on #185
Interested. Could you please assign to me?

[2020-03-10 20:10] SubCoder1 commented on #185
@muskankhedia Does it need to be the Home page only? I have the design mockup (Dark mode) with me. can you assign this to me?

[2020-03-10 20:11] maheshschand commented on #178
Interested. Could you please assign this to me?

[2020-03-11 05:32] maheshschand commented on #164
I like to work on this. Could you please assign to me @muskankhedia ?

[2020-03-11 05:36] maheshschand commented on #56
Interested. Could you please assign this to me @Harkishen-Singh ?

[2020-03-11 12:21] Shubham-1105 commented on #138
yes i am going through it

[2020-03-11 14:38] muskankhedia commented on #178
@maheshschand Sure. Go ahead.

[2020-03-11 14:43] muskankhedia commented on #56
@maheshschand Please take up one issue at a time. I have already assigned you one issue on which you have commented. After solving it, you can go up for other issue.

[2020-03-11 14:48] muskankhedia commented on #185
@SubCoder1 Sure. The dark-mode you have added earlier needs some changes. Please have a look at the dark mode of other apps and redefine it accordingly.

[2020-03-11 14:52] muskankhedia commented on #163
@algokun Well Done! You can refer to PR #172 to get an idea on how to create a PR.

[2020-03-11 15:06] maheshschand commented on #56
OK

[2020-03-11 20:08] irshadjsr21 commented on #159
I'd like to take this up.

[2020-03-12 05:19] muskankhedia commented on #159
Sure.

[2020-03-12 15:57] shivaniraochepuri21 commented on #164
Hi..I am new to open source and want to start with something simple..could you pls let me know if I can work on this issue? Please do suggest. Thank you.

[2020-03-13 05:52] #151 closed

[2020-03-13 05:53] muskankhedia commented on #150
@gunjanmimo Any updates?

[2020-03-13 10:42] ananyaarun commented on #186
Hey @robot-with-feelings , any update on this issue ?

[2020-03-13 12:17] muskankhedia commented on #163
@algokun Please make the PR and submit it asap, else you won't be getting any points for this.

[2020-03-13 14:12] robot-with-feelings commented on #186
Yes @ananyaarun! Will send a PR in a while.

[2020-03-13 18:32] algokun commented on #163
Okay @muskankhedia, i'll submit the pr now.

[2020-03-14 06:39] poojasrinivass commented on #160
I would like to work on this issue. Can you please assign this to me? Also can I know the modules with high priority, that need testing.

[2020-03-14 10:32] muskankhedia commented on #164
@maheshschand Please go ahead.

@shivaniraochepuri21 As you are new to open source, please have a look at some easy issues, and go for it.

[2020-03-14 10:33] muskankhedia commented on #178
@maheshschand Any updates?

[2020-03-15 06:24] maheshschand commented on #178
I am working on it. By tomorrow, I will raise a pr.

[2020-03-15 06:25] maheshschand commented on #164
@muskankhedia Thanks. I will resolve this issue.

[2020-03-15 08:14] irshadjsr21 commented on #159
@muskankhedia The PR has been merged, I think we can close this issue now.

[2020-03-15 09:39] maheshschand commented on #148
Interested. Could you please assign me @maheshschand?

[2020-03-15 09:40] maheshschand commented on #148
Interested. Could you please assign me @muskankhedia ?

[2020-03-15 09:41] #159 closed

[2020-03-15 09:59] muskankhedia commented on #148
@maheshschand Sure.

[2020-03-15 11:50] #150 closed

[2020-03-15 11:53] muskankhedia opened #195 "Scrapping for the youtube search requests using golang"
**Is your feature request related to a problem? Please describe.**
Presently the scrapping for the youtube is done using the selenium browser, now we are revamping the application and level up all the scrapping to be done using golang. As using various different dependency for different features is making the work difficult and also increases the size of the application.

**Describe the solution y

[2020-03-15 13:49] irshadjsr21 commented on #195
I'm up for it.

[2020-03-15 18:00] irshadjsr21 commented on #195
It turns out that Youtube renders its pages using Javascript. So we cannot scrape it through Golang. We'll have to stick with `selenium` or `puppeteer`.

[2020-03-15 18:14] SubCoder1 commented on #184
@muskankhedia Do I have to implement the Home page UI in AngularJS? If so, then I'll have to unassign myself because I do not specialize in AngularJS. I can implement the Figma model using HTML, CSS, Bootstrap4 & little bit of JavaScript though.

[2020-03-16 16:47] muskankhedia commented on #184
AngularJs is only a JS framework which provides some predefined classes and many other features. Further for the UI: HTML, CSS, and bootstrap are only used and some other angular models, which won't be required for UI designing. You can give it a try and feel free to ask any doubts while implementing.

[2020-03-17 15:12] Kuljeet-123 commented on #189
@Harkishen-Singh @irshadjsr21 Can I work on this??

[2020-03-18 09:40] muskankhedia commented on #189
@irshadjsr21 Are you about to work on this?

[2020-03-18 09:51] muskankhedia commented on #195
Yaa. I have noticed that. In that case, we can go with `puppeteer` as it can be developed using GoLang and we can remove the complete support for nodejs. What do you say @Harkishen-Singh ?

[2020-03-18 14:13] ananyaarun commented on #185
Hey @SubCoder1 , any update on this PR ?

[2020-03-18 14:15] ananyaarun commented on #178
Hey @maheshschand , let us know if you need any help with this , Thanks !

[2020-03-18 14:16] SubCoder1 commented on #185
@ananyaarun It's almost done. I'll currently traveling as there's some major issues regarding coronavirus in Bangalore, so I'll make a PR in 2-3 days :)

[2020-03-18 14:17] ananyaarun commented on #164
Hey @maheshschand , any update on this ?

[2020-03-19 12:19] Harkishen-Singh opened #198 "Update INSTALL.md"
INSTALL.md seems out of date since the latest updates have made the service independent of python.

[2020-03-19 12:27] irshadjsr21 commented on #198
I'm up for it.

[2020-03-20 04:03] muskankhedia opened #202 "Implementing the recent queries heading in the desktop app"
Implementing the Recent Queries Section from the figma workspace as decided in the PR #192 .

[2020-03-20 04:04] #186 closed

[2020-03-20 04:05] muskankhedia commented on #184
@SubCoder1 Any updates on the PR?

[2020-03-20 13:32] SubCoder1 commented on #184
@muskankhedia It's almost done. I'm currently traveling to home right now, so I'll make a PR probably before Monday. It's all because of Corona virus else I would've send it a bit earlier.

[2020-03-20 13:36] muskankhedia commented on #148
Soved in PR #199

[2020-03-20 13:36] #148 closed

[2020-03-20 13:53] Harkishen-Singh commented on #195
Well, we had implemention with selenium but in subprocess way. However, I think we can go with https://github.com/chromedp/chromedp. It has embedded selenium and should be smaller in size. @muskankhedia. @irshasjsr21 you can go ahead with this

[2020-03-21 03:35] muskankhedia commented on #163
@algokun The designs are well made but can you please change the background colour to white and make the combinations accordingly. I missed this point, by mistake, we have planned to keep the background colour as white.

[2020-03-21 06:24] robot-with-feelings commented on #202
Can you assign this to me, I'll implement the design made by me in PR #192

[2020-03-21 07:26] muskankhedia commented on #202
Sure.

[2020-03-21 09:18] irshadjsr21 commented on #198
@Harkishen-Singh I think this can be closed now.

[2020-03-23 06:47] Bhanu-mbvg commented on #189
Hey @muskankhedia @Harkishen-Singh , is anyone working on this issue? If not I would like to contribute

[2020-03-23 07:58] muskankhedia commented on #189
@Bhanu-mbvg Welcome to the project. Presently we aren't planning to implement webpack and babel in the project. You can look for some other issues now and start working on it. Feel free to ask any queries.

[2020-03-25 07:34] ananyaarun commented on #202
Hey @robot-with-feelings , How is the work going ? Let us know if you need any help. Thanks !

[2020-03-25 07:35] robot-with-feelings commented on #202
yes i'll be sending the PR soon!

[2020-03-29 12:31] vipuldcoder commented on #155
I am interested to work with this issue.

[2020-03-29 12:44] muskankhedia commented on #155
Sure. You can start working on it.

[2020-04-03 08:49] payal-98 commented on #166
can I work on this ?
by using java script and web speech api.
@Harkishen-Singh @muskankhedia

[2020-04-03 09:28] Harkishen-Singh commented on #166
Webspech api by w3c will not work on electronjs, since electron uses chromium. You need to look at something from node side. That's what I think. Open for suggestions.

[2020-04-03 20:01] payal-98 commented on #166
Okk..another way is by using node.js and express using gtts library
can I use that for this ?

[2020-04-04 04:40] Harkishen-Singh commented on #166
We don't want to have a paid version of stt or tts. One way is to convert into audio and then play it. This can be done via Linux command. Still not the best approach.

[2020-04-04 06:54] payal-98 commented on #166
ohh..I don't know that GTTS library is paid

[2020-04-06 11:25] #198 closed

[2020-04-06 17:51] muskankhedia opened #209 "Implementing the yahoo search"
**Is your feature request related to a problem? Please describe.**
As the service has now been revamped using NodeJs. The features like yahoo search have to be implemented with the proper scrapping of data from the website.

**Describe the solution you'd like**
To show the yahoo search details, on query search `yahoo <query>`. We are using the library CherrioJs to implement the same.

**Additional

[2020-04-06 18:00] muskankhedia opened #210 "Implementing the meaning search"
**Is your feature request related to a problem? Please describe.**
As the service has now been revamped using NodeJs. The features like yahoo search have to be implemented with the proper scrapping of data from the oxford dictionary website.

**Describe the solution you'd like**
To show the meaning of the data, on query search `meaning <word>`. We are using the library CherrioJs to implement the s

[2020-04-06 18:28] irshadjsr21 commented on #210
I'd like to take this up

[2020-04-06 19:05] muskankhedia commented on #210
Sure. Go ahead.

[2020-04-06 19:06] muskankhedia opened #211 "Implementing the bing search"
**Is your feature request related to a problem? Please describe.**
As the service has now been revamped using NodeJs. The features like bing search have to be implemented with the proper scrapping of data from the website.

**Describe the solution you'd like**
To show the bing search details, on query search `bing <query>`. We are using the library CherrioJs to implement the same.

**Additional co

[2020-04-11 08:18] irshadjsr21 commented on #209
I'd like to take this up.

[2020-04-12 12:31] #210 closed

[2020-04-13 11:49] amandhamija98 commented on #81
Hi, can I be assigned this issue

[2020-04-13 14:07] muskankhedia commented on #81
Yeah, Sure. And feel free to ask for any queries.

[2020-04-15 13:17] amandhamija98 commented on #81
Thanks, I am going through the codebase, I'll ping you on slack if I have any queries

[2020-04-17 16:34] muskankhedia opened #213 "Implement weather scrapping"
**Is your feature request related to a problem? Please describe.**
As the service has now been revamped using NodeJs. The features like weather search have to be implemented with the proper scrapping of data from the website.

**Describe the solution you'd like**
To show the weather search details, on query search `weather <district> <state>`. We are using the library CherrioJs to implement the sa

[2020-04-19 07:12] Harkishen-Singh opened #214 "Make explanatory video for jarvis"
We have an explanatory [video](https://youtu.be/jztI_iN82RY) for jarvis web. We would love to have another one since there has been couple of UI fixes. Also, video for working in desktop app is required as well.

In short, two tasks need to be completed:
1. Jarvis web UI explanatory video
2. Jarvis desktop app explanatory video

[2020-04-20 13:05] irshadjsr21 commented on #211
I'd like to take this up.

[2020-04-21 09:56] irshadjsr21 commented on #213
I'd like to work on this.

[2020-04-21 10:06] #211 closed

[2020-04-21 10:06] #209 closed

[2020-04-23 08:35] Pihu1998 commented on #178
Hi @muskankhedia . Can I work on this issue, please?

[2020-04-23 08:36] muskankhedia commented on #178
Sure. Go ahead.

[2020-05-01 12:27] Rukmini-Meda commented on #178
I would like to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-05-01 12:29] Rukmini-Meda commented on #64
I would like to work on this issue if its not done yet. Please assign this to me as part of GSSoC'20.

[2020-05-01 14:37] muskankhedia commented on #178
Sure. The issue is quite easy, you shouldn't take more than 2-3 days to solve it. Go ahead.

[2020-05-01 14:39] muskankhedia commented on #64
Sure. But its good to have one issue at a time. You can work on this after you solve the other issue you had commented. That's also a beginner issue, so will help to get familiar with the code.

[2020-08-16 03:25] soulclimberchick commented on #164
Hey there, I am going to take a stab at this. I'll have some requests for documentation changes as well as there are no real detailed instructions for contributors, and an error on the main set of instructions. :) This is my very first open source contribution so I'd love as much feedback in the PR as you're willing to give so I can keep learning!

[2020-08-16 04:31] soulclimberchick commented on #164
Pull request #219 added - build failures existed before and unrelated to change - gofmt -l working properly.

[2020-08-20 03:02] soulclimberchick commented on #164
Made some different changes and got things working properly. Still a couple of unrelated build failures that were present before making changes.

[2020-08-20 08:17] Harkishen-Singh commented on #164
Thank you @soulclimberchick for the PR. I have merged it as well. Do check the note I wrote as a comment in the PR you submitted. If you need any help related to it, let me know.

[2020-08-20 08:20] Harkishen-Singh commented on #164
@muskankhedia this issue can be closed.

[2021-01-20 11:02] BLasan commented on #178
@muskankhedia Can I work on this ?

[2021-01-21 04:34] muskankhedia commented on #178
Sure. Go ahead.

[2021-04-18 16:43] Undead2211 opened #220 "Jarvis module keep powercycling after entering the wrong base64 image format"
Hi together,

my plan was to simply add a wlan QR code to the landing page of jarvis.
Unfortunately I missed it to add the **data:image/png;base64,** string before entering my base64 string!

This causes the jarvis or the web adapter to powercycle whenever i try to correct it.
- So I wait until it reloads (see attached logs from iobroker)
- I try to reload jarvis to correct or at least delete this

[2021-04-18 16:49] #220 closed

[2021-04-18 16:50] Undead2211 commented on #220
wrong repo